In [35]:
import pandas as pd
import numpy as np

df = pd.read_csv(r'C:\Users\jacks\Documents\GitHub\Data-Mining\example.csv')
inds = df[["Y0", "Y1"]].isnull().all(axis=1) 
df = df.loc[~inds, :]
df['Y0'] = df['Y0'].fillna('')
df['Y1'] = df['Y1'].fillna('')
df

output = []
revenueY0='' 
revenueY1 =''
grossprofitY0=''
grossprofitY1 =''
distributionexpensesY0=''
distributionexpensesY1 =''
profitbeforetaxY0=''
profitbeforetaxY1=''

for index, row in df.iterrows():
    outputRow=[]
    if 'revenue' in row['Label'].replace(" ", "").lower():
        revenueY0 = row['Y0']
        revenueY1 = row['Y1']
    elif 'grossprofit' in row['Label'].replace(" ", "").lower():
        grossprofitY0 = row['Y0']
        grossprofitY1  = row['Y1']
    elif 'distributionexpenses' in row['Label'].replace(" ", "").lower():
        distributionexpensesY0 = row['Y0']
        distributionexpensesY1  = row['Y1']
    elif 'profitbeforetax' in row['Label'].replace(" ", "").lower():
        profitbeforetaxY0 = row['Y0']
        profitbeforetaxY1  = row['Y1']
print(revenueY0)
print(revenueY1)
print(grossprofitY0)
print(grossprofitY1)
print(distributionexpensesY0)
print(distributionexpensesY1)

output.append([revenueY0,
            revenueY1,
            grossprofitY0,
            grossprofitY1,
            distributionexpensesY0,
            distributionexpensesY1,
            profitbeforetaxY0,
            profitbeforetaxY1])
print(output)
df

44033
45188
34554
36217


[['44033', '45188', '34554', '36217', '', '']]

                                                Label       Y0      Y1
0          CITY  LONDON REAL PROPERTY COMPANY LIMITED               ()
2                           FOR THE YEAR ENDED  MARCH             2021
3                                          Notes £000      000     000
4                                     Revenue  44,033    44033   45188
5                                      Costs  (9,479)   (9479)  (8971)
6                                 Gross profit 34,554    34554   36217
7                               Dividend income 4,000     4000
8   Property management and administrative expense...   (3245)  (3378)
9         Loss on disposal of investment properties             (2788)
10        Profit on disposal of subsidiaries  301,516   301516
11  Net deficit on revaluation of investment prope...  (52094)  (6614)
12                           Operating profit 281,731   281731   23437
13                             Interest income  4,638     4638
14                                 Interest expense              (819)
15                          Profit before tax 286,369   286369  22.618
16                                    Taxation  (881)    (881)
17  Profit and total comprehensive income for the ...   285488   22650
18  There were no recognised gains or losses for 2...            22650
19            All amounts are derived from continuing            22650

In [3]:
import pytesseract

from pdf2image import convert_from_path
pytesseract.pytesseract.tesseract_cmd = r'C:\Program Files\Tesseract-OCR\tesseract.exe'

filepath = r'F:\WebScraping\Companies House co2\Bot Output\00149328.pdf'

pages = convert_from_path(filepath, 350)
imagePath = r'F:\WebScraping\Companies House co2\Bot Output\Double Line.jpg'
pages[0].save(imagePath,'JPEG')

In [ ]:
from fpdf import FPDF
import sys, os, time
import shutil
import random

tempImagePath = r'F:\WebScraping\Companies House co2\Bot Output\Images'
downloadPath = r'F:\WebScraping\Companies House co2\Bot Output\Downloads'
filteredPath = r'F:\WebScraping\Companies House co2\Bot Output\Filtered'
#If the image folder exists, remove all files in it. If it doesn't, create an empty folder
if os.path.exists(tempImagePath) and os.path.isdir(tempImagePath):
    shutil.rmtree(tempImagePath)
tempImagePath.mkdir(parents=True, exist_ok=True)
os.mkdir(tempImagePath) 
filterPhrases = [
    'Scope 1',
    'Scope 2',
    'Scope 3',
    'scope 1',
    'scope 2',
    'scope 3',
    'CO2',
    'GHG',
    'ghg'
]
pdf = FPDF()

filteredPages = []
imageCount = 0
for page in pages:
        imagePath = tempImagePath+'\\'+str(imageCount)+'.jpg'
        page.save(imagePath,'JPEG')
        image = cv2.imread(imagePath)
        text = str(pytesseract.image_to_string(image))
        if any(word in text for word in filterPhrases):
            filteredPages.append(image)
            print('Data found in Page')
            pdf.add_page()
            pdf.image(imagePath,x = None, y = None, w = 210, h = 297, type = '', link = '')
            imageCount+=1

'''
Export Filtered pages to PDF
'''
if not filteredPages:
    print('No Co2 Data found')
else:
    print('Co2 Data Found')
    print('Number of pages with Co2 Data: ',len(filteredPages))
    outputFile = filteredPath+'\\'+outputFileName
    pdf.output(outputFile, "F")
    print('FILE EXPORTED CHECK')
    time.sleep(random.uniform(30, 40.7))

FROM HERE, needs adding

In [4]:
import cv2
imageFil = cv2.imread(r'C:\Users\Clamfighter\Documents\GitHub\Data-Mining\Data-Mining\(731, 759)your_file.jpeg')
#image = cv2.imread(imagePath)
text = str(pytesseract.image_to_string(imageFil))
print(text)

Revenue

In [41]:
import numpy as np

imageArray = np.array(imageFil[:, :, 0]).T

def ranges(data):
    data = sorted(set(data))
    gaps = [[s, e] for s, e in zip(data, data[1:]) if s+1 < e]
    edges = iter(data[:1] + sum(gaps, []) + data[-1:])
    return list(zip(edges, edges))
    
def getDataRangesFromImage(imageArray):
    datainrow = []
    print(len(imageArray))
    i=0
    for line in imageArray:
        #print(line)
        if all(i >= 200 for i in line):
            #print('empty')
            pass
        else:
            #print('found')
            datainrow.append(i)
        i=i+1
    dataRanges = (ranges(datainrow))
    return dataRanges
charRanges = getDataRangesFromImage(imageArray)
print(charRanges)

2893
[(216, 254), (258, 308), (312, 326), (329, 343), (1929, 1944), (2242, 2258), (2260, 2275), (2279, 2282), (2286, 2302), (2305, 2321), (2324, 2340), (2570, 2587), (2591, 2606), (2610, 2613), (2619, 2629), (2636, 2652), (2654, 2670)]

In [10]:
maxVal = 3
charRanges = charRanges[maxVal+1:]
charRanges

[(1929, 1944),
 (2242, 2258),
 (2260, 2275),
 (2279, 2282),
 (2286, 2302),
 (2305, 2321),
 (2324, 2340),
 (2570, 2587),
 (2591, 2606),
 (2610, 2613),
 (2619, 2629),
 (2636, 2652),
 (2654, 2670)]

In [42]:
consData = []
dataRowRanges = []
while charRanges:
    #print('Begining While Loop')
    #print('charRanges')
    #print(charRanges)
    outputList=[]
    outputList.append(charRanges[0])
    maxVal = 0
    if len(charRanges) > 1:
        #print('Multiple Tuples Left')
        for i in range(len(charRanges)):
            #print(len(charRanges))
            
            if (i+1 != len(charRanges)) and (charRanges[i+1][0] - charRanges[i][1] <=10):
                #print(charRanges[i+1][0] - charRanges[i][1] <=10)
                outputList.append(charRanges[i+1])
                maxVal = i+1
            else:
                break
    

    #print('outputList')
    #print(outputList)
    consData.append([outputList])
    charRanges = charRanges[maxVal+1:]
print(consData)
for i in consData:
    #print(i[0][0][0])
    #print(i[0][-1][1])
    dataRowRanges.append((i[0][0][0],i[0][-1][1]))

print(dataRowRanges)

[[[(216, 254), (258, 308), (312, 326), (329, 343)]], [[(1929, 1944)]], [[(2242, 2258), (2260, 2275), (2279, 2282), (2286, 2302), (2305, 2321), (2324, 2340)]], [[(2570, 2587), (2591, 2606), (2610, 2613), (2619, 2629), (2636, 2652), (2654, 2670)]]]
[(216, 343), (1929, 1944), (2242, 2340), (2570, 2670)]

In [82]:
for i in dataRowRanges:
    #print(i[0])
    #print(i[1])
    
    currentImage = ((imageArray[i[0]:i[1]].T))
    currentImage = np.c_[np.full((len(currentImage), 3), 255), currentImage, np.full((len(currentImage), 3), 255) ]
    currentImage = np.r_[[currentImage[0]]*3,currentImage,[currentImage[-1]]*3]
    break

216
343

In [88]:
from PIL import Image

j=0
p = 10
for i in dataRowRanges:
    print(i[0])
    print(i[1])

    currentImage = ((imageArray[i[0]:i[1]].T))
    currentImage = np.c_[np.full((len(currentImage), p), 255), currentImage, np.full((len(currentImage), p), 255) ]
    currentImage = np.r_[[currentImage[0]]*p,currentImage,[currentImage[-1]]*p]

    im = Image.fromarray(currentImage)
    if im.mode != 'RGB':
        im = im.convert('RGB')
    im.save(str(j)+"your_file.jpeg")
    image = cv2.imread(str(j)+"your_file.jpeg")
    print('OCR on Image')
    text = str(pytesseract.image_to_string(image)).rstrip()
    print(text)
    j+=1

216
343
OCR on Image
Revenue
1929
1944
OCR on Image

2242
2340
OCR on Image
44,033
2570
2670
OCR on Image
45,188

Till now

In [117]:

consData = []

for i in range(len(charRanges)):
    consData.append(i)
    if i+1 != len(charRanges):
        #print(charRanges[i][1])
        #print(charRanges[i+1][0])
        #print(charRanges[i+1][0] - charRanges[i][1])

        if charRanges[i+1][0] - charRanges[i][1] <=10:
            #print('Same Word')
            #dataRanges.append((charRanges[i][0], charRanges[i+1][1]))
            
            consData.append(i+1)

print(consData)

[0, 1, 1, 2, 2, 3, 3, 4, 5, 6, 6, 7, 7, 8, 8, 9, 9, 10, 10, 11, 12, 12, 13, 13, 14, 14, 15, 15, 16, 16]

In [88]:
for foundData in dataRanges:
    #print(foundData)
    currentImage = []
    rangeList = list(foundData)
    #print(rangeList[0])
    #print(rangeList[1])
    if rangeList[1] - rangeList[0] > 1: #if there is more than 1 consecutive row with data
        print(foundData)

(216, 254)
(258, 308)
(2242, 2258)
(2286, 2302)
(2305, 2321)
(2324, 2340)
(2570, 2587)
(2636, 2652)
(2654, 2670)

In [49]:


currentExtract = []

for j in range(9,215):
    currentColumn = []
    emptyColumn = True
    for i in range(len(imageFil[:, :, 0])):
        #print(imageFil[:, :, 0][i][j])
        currentColumn.append(imageFil[:, :, 0][i][j])

    print(len(currentColumn))
    currentExtract.append(currentColumn)

33
33
33
33
33
33
33
33
33
33
33
33
33
33
33
33
33
33
33
33
33
33
33
33
33
33
33
33
33
33
33
33
33
33
33
33
33
33
33
33
33
33
33
33
33
33
33
33
33
33
33
33
33
33
33
33
33
33
33
33
33
33
33
33
33
33
33
33
33
33
33
33
33
33
33
33
33
33
33
33
33
33
33
33
33
33
33
33
33
33
33
33
33
33
33
33
33
33
33
33
33
33
33
33
33
33
33
33
33
33
33
33
33
33
33
33
33
33
33
33
33
33
33
33
33
33
33
33
33
33
33
33
33
33
33
33
33
33
33
33
33
33
33
33
33
33
33
33
33
33
33
33
33
33
33
33
33
33
33
33
33
33
33
33
33
33
33
33
33
33
33
33
33
33
33
33
33
33
33
33
33
33
33
33
33
33
33
33
33
33
33
33
33
33
33
33
33
33
33
33
33
33
33
33
33
33

In [ ]:
print(len(imageFil[:, :, 0][0]))
print(len(imageFil[:, :, 0]))



blankrow = [255]*len(imageFil[:, :, 0][0])
#datainrow = [0]*len(imageFil[:, :, 0])
datainrow = []
i=0
for line in imageFil[:, :, 0]:
    
    print(i)
    if all(i >= 200 for i in line):
        print('empty')
    else:
        print('found')
        datainrow.append(i)
    i=i+1
print(datainrow)

In [84]:
imageArray = np.array(imageFil[:, :, 0])
datainrow = getDataRangesFromImage(imageArray)
print(datainrow)

33
[(2, 30)]

In [4]:
def ranges(data):
    data = sorted(set(data))
    gaps = [[s, e] for s, e in zip(data, data[1:]) if s+1 < e]
    edges = iter(data[:1] + sum(gaps, []) + data[-1:])
    return list(zip(edges, edges))
dataRanges = (ranges(datainrow))
print(dataRanges)

[(201, 202), (211, 219), (266, 271), (365, 371), (375, 376), (404, 416), (740, 787), (789, 795), (806, 809), (821, 879), (896, 954), (962, 965), (977, 978), (1027, 1028), (1031, 1032), (1034, 1043), (1081, 1084), (1149, 1188), (1203, 1242), (1296, 1302), (1304, 1348), (1401, 1456), (1494, 1497), (1510, 1513), (1515, 1554), (1556, 1562), (1565, 1616), (1666, 1712), (1716, 1774), (1780, 1781), (1806, 1811), (1821, 1823), (1825, 1828), (1830, 1881), (1883, 1890), (1930, 2030), (2032, 2080), (2082, 2089), (2092, 2093), (2098, 2100), (2139, 2187), (2189, 2196), (2198, 2199), (2202, 2203), (2236, 2240), (2244, 2292), (2343, 2399), (2401, 2454), (2464, 2469), (2493, 2497), (2502, 2505), (2507, 2558), (2602, 2654), (2656, 2662), (2664, 2665), (2762, 2809), (2814, 2824), (2987, 2989), (2992, 2996), (3177, 3181), (3349, 3353), (3375, 3404), (3475, 3475), (3484, 3530), (3735, 3738), (3778, 3781), (3858, 3861), (3863, 3871), (3882, 3925)]

In [5]:
from PIL import Image
import numpy as np
import pandas as pd
def toArray(string):
    li = list(string.split(" "))
    return li
cumulateArray = []
for foundData in dataRanges:
    print(foundData)
    currentImage = []
    rangeList = list(foundData)
    
    if rangeList[1] - rangeList[0] > 1: #if there is more than 1 consecutive row with data
        #adds buffer to lower bound
        if rangeList[0] >=2:
            lowerBound = rangeList[0]-2
        else:
            lowerBound = 0
        #adds buffer to upper bound
        if rangeList[1] < len(imageFil[:, :, 0])-3:
            upperBound = rangeList[1]+3
        else:
            upperBound = len(imageFil[:, :, 0])

        #uses bounds to create image of current selection
        for i in range(lowerBound,upperBound):
            #print(i)
            currentImage.append(imageFil[:, :, 0][i])
        #print(currentImage)
        currentImage = np.asarray(currentImage)
        print('Exporting as Image')
        im = Image.fromarray(currentImage)
        im.save(str(foundData)+"your_file.jpeg")
        image = cv2.imread(str(foundData)+"your_file.jpeg")
        print('OCR on Image')
        text = str(pytesseract.image_to_string(image)).rstrip()
        print(text)
        textArray = toArray(text.rstrip("\n"))
        print(textArray)
        
        if len(textArray) >=3:
            y0 = textArray[-2]
            y1 = textArray[-1]
            label = ' '.join(textArray[:-1])
            outputArray = [label,y0,y1]
            print(outputArray)
            cumulateArray.append(outputArray)
df = pd.DataFrame(cumulateArray)
df.columns = ['Label','Y0','Y1']

(201, 202)
(211, 219)
Exporting as Image
OCR on Image

['']
(266, 271)
Exporting as Image
OCR on Image

['']
(365, 371)
Exporting as Image
OCR on Image

['']
(375, 376)
(404, 416)
Exporting as Image
OCR on Image

['']
(740, 787)
Exporting as Image
OCR on Image
HINDS LIMITED

['HINDS', 'LIMITED']
(789, 795)
Exporting as Image
OCR on Image

['']
(806, 809)
Exporting as Image
OCR on Image

['']
(821, 879)
Exporting as Image
OCR on Image
INCOME STATEMENT

['INCOME', 'STATEMENT']
(896, 954)
Exporting as Image
OCR on Image
YEAR ENDED 28 MARCH 2021

['YEAR', 'ENDED', '28', 'MARCH', '2021']
['YEAR ENDED 28 MARCH', 'MARCH', '2021']
(962, 965)
Exporting as Image
OCR on Image

['']
(977, 978)
(1027, 1028)
(1031, 1032)
(1034, 1043)
Exporting as Image
OCR on Image

['']
(1081, 1084)
Exporting as Image
OCR on Image

['']
(1149, 1188)
Exporting as Image
OCR on Image
Notes

['Notes']
(1203, 1242)
Exporting as Image
OCR on Image

['']
(1296, 1302)
Exporting as Image
OCR on Image

['']
(1304, 1348)
Exporting as Image
OCR on Image
TURNOVER 2.3 37,031,441 66,834,909

['TURNOVER', '2.3', '37,031,441', '66,834,909']
['TURNOVER 2.3 37,031,441', '37,031,441', '66,834,909']
(1401, 1456)
Exporting as Image
OCR on Image
Change in stocks of goods for resale 723,944 4,043,503

['Change', 'in', 'stocks', 'of', 'goods', 'for', 'resale', '723,944', '4,043,503']
['Change in stocks of goods for resale 723,944', '723,944', '4,043,503']
(1494, 1497)
Exporting as Image
OCR on Image

['']
(1510, 1513)
Exporting as Image
OCR on Image

['']
(1515, 1554)
Exporting as Image
OCR on Image
37,755,385

70,878,412

['37,755,385\n\n70,878,412']
(1556, 1562)
Exporting as Image
OCR on Image

['']
(1565, 1616)
Exporting as Image
OCR on Image
Other operating income 7 10,145,998 706, 848

['Other', 'operating', 'income', '7', '10,145,998', '706,', '848']
['Other operating income 7 10,145,998 706,', '706,', '848']
(1666, 1712)
Exporting as Image
OCR on Image
47,901,383 71,585,260

['47,901,383', '71,585,260']
(1716, 1774)
Exporting as Image
OCR on Image
Other external charges (27,058,441) (48,030,412)

['Other', 'external', 'charges', '(27,058,441)', '(48,030,412)']
['Other external charges (27,058,441)', '(27,058,441)', '(48,030,412)']
(1780, 1781)
(1806, 1811)
Exporting as Image
OCR on Image

['']
(1821, 1823)
Exporting as Image
OCR on Image

['']
(1825, 1828)
Exporting as Image
OCR on Image

['']
(1830, 1881)
Exporting as Image
OCR on Image
20,842,942 23,554,848

['20,842,942', '23,554,848']
(1883, 1890)
Exporting as Image
OCR on Image

['']
(1930, 2030)
Exporting as Image
OCR on Image
Staff costs & (15,221,263) (18,852,074)
Depreciation and amortisation 10,11 (780,132) (796,331)

['Staff', 'costs', '&', '(15,221,263)', '(18,852,074)\nDepreciation', 'and', 'amortisation', '10,11', '(780,132)', '(796,331)']
['Staff costs & (15,221,263) (18,852,074)\nDepreciation and amortisation 10,11 (780,132)', '(780,132)', '(796,331)']
(2032, 2080)
Exporting as Image
OCR on Image
Other operating charges (1,562,870) (4,502,257)

['Other', 'operating', 'charges', '(1,562,870)', '(4,502,257)']
['Other operating charges (1,562,870)', '(1,562,870)', '(4,502,257)']
(2082, 2089)
Exporting as Image
OCR on Image

['']
(2092, 2093)
(2098, 2100)
Exporting as Image
OCR on Image

['']
(2139, 2187)
Exporting as Image
OCR on Image
(17,564,265) (21,150,662)

['(17,564,265)', '(21,150,662)']
(2189, 2196)
Exporting as Image
OCR on Image

['']
(2198, 2199)
(2202, 2203)
(2236, 2240)
Exporting as Image
OCR on Image

['']
(2244, 2292)
Exporting as Image
OCR on Image
OPERATING PROFIT

['OPERATING', 'PROFIT']
(2343, 2399)
Exporting as Image
OCR on Image
Net interest receivable/(payable) 36,579 155,736

['Net', 'interest', 'receivable/(payable)', '36,579', '155,736']
['Net interest receivable/(payable) 36,579', '36,579', '155,736']
(2401, 2454)
Exporting as Image
OCR on Image
Finance. cost 8 8 (112,000) (81,000)

['Finance.', 'cost', '8', '8', '(112,000)', '(81,000)']
['Finance. cost 8 8 (112,000)', '(112,000)', '(81,000)']
(2464, 2469)
Exporting as Image
OCR on Image

['']
(2493, 2497)
Exporting as Image
OCR on Image

['']
(2502, 2505)
Exporting as Image
OCR on Image

['']
(2507, 2558)
Exporting as Image
OCR on Image
PROFIT BEFORE TAXATION 3,203,256 .2,478;922

['PROFIT', 'BEFORE', 'TAXATION', '3,203,256', '.2,478;922']
['PROFIT BEFORE TAXATION 3,203,256', '3,203,256', '.2,478;922']
(2602, 2654)
Exporting as Image
OCR on Image
Tax on profit 9 (746,452) (452,951)

['Tax', 'on', 'profit', '9', '(746,452)', '(452,951)']
['Tax on profit 9 (746,452)', '(746,452)', '(452,951)']
(2656, 2662)
Exporting as Image
OCR on Image

['']
(2664, 2665)
(2762, 2809)
Exporting as Image
OCR on Image
PROFIT FOR THE FINANCIAL YEAR

2,456,804

2,025,977

['PROFIT', 'FOR', 'THE', 'FINANCIAL', 'YEAR\n\n2,456,804\n\n2,025,977']
['PROFIT FOR THE FINANCIAL', 'FINANCIAL', 'YEAR\n\n2,456,804\n\n2,025,977']
(2814, 2824)
Exporting as Image
OCR on Image

['']
(2987, 2989)
Exporting as Image
OCR on Image

['']
(2992, 2996)
Exporting as Image
OCR on Image

['']
(3177, 3181)
Exporting as Image
OCR on Image

['']
(3349, 3353)
Exporting as Image
OCR on Image

['']
(3375, 3404)
Exporting as Image
OCR on Image

['']
(3475, 3475)
(3484, 3530)
Exporting as Image
OCR on Image
The related notes 1 to 20 forrn part of these financial statements.

['The', 'related', 'notes', '1', 'to', '20', 'forrn', 'part', 'of', 'these', 'financial', 'statements.']
['The related notes 1 to 20 forrn part of these financial', 'financial', 'statements.']
(3735, 3738)
Exporting as Image
OCR on Image

['']
(3778, 3781)
Exporting as Image
OCR on Image

['']
(3858, 3861)
Exporting as Image
OCR on Image

['']
(3863, 3871)
Exporting as Image
OCR on Image

['']
(3882, 3925)
Exporting as Image
OCR on Image
Page 15

['Page', '15']

In [6]:
df = df.replace('\n','', regex=True)
df['Y1'] = df['Y1'].replace(r'[^0-9()^.]','', regex=True)
df['Y0'] = df['Y0'].replace(r'[^0-9()^.]','', regex=True)
df

,Label,Y0,Y1
0,YEAR ENDED 28 MARCH,,2021
1,"TURNOVER 2.3 37,031,441",37031441,66834909
2,"Change in stocks of goods for resale 723,944",723944,4043503
3,"Other operating income 7 10,145,998 706,",706,848
4,"Other external charges (27,058,441)",(27058441),(48030412)
5,"Staff costs & (15,221,263) (18,852,074)Depreci...",(780132),(796331)
6,"Other operating charges (1,562,870)",(1562870),(4502257)
7,"Net interest receivable/(payable) 36,579",36579,155736
8,"Finance. cost 8 8 (112,000)",(112000),(81000)
9,"PROFIT BEFORE TAXATION 3,203,256",3203256,2478922
10,"Tax on profit 9 (746,452)",(746452),(452951)
11,PROFIT FOR THE FINANCIAL,,24568042025977
12,The related notes 1 to 20 forrn part of these ...,,

In [33]:
df = pd.read_csv(r'C:\Users\Clamfighter\example.csv')

df1 = df[df['Y1'].str.contains('\d', na=False)]
df2 = df[df['Y0'].str.contains('\d', na=False)]
df = pd.concat([df1,df2])
df = df.drop(columns =['Unnamed: 0'])
df = df.drop_duplicates(subset=['Label', 'Y0', 'Y1'], keep='first')
df

                                                 Label       Y0      Y1
49                         FOR THE YEAR ENDED 31 MARCH      NaN    2021
50              Property management and administrative      NaN  (3245)
52                Profit on disposal of subsidiaries 9        9  301516
53   Net deficit on revaluation of investment prope...  (52094)   6614)
54                                    Operating profit      NaN  281731
56   Profit and total comprehensive income for the ...      NaN  285488
84   of the Company, the Directers continue to adop...      NaN   2021.
128         Rental income (excluding lease incentives)        )   40926
129            Adjustment for lease incentives (3,582)   (3582)  (4269)
130                                      Rental income      NaN   37344
131                        Service charge income 6,187     6187    6884
132                  Other property related income 502      502     535
133  Other direct property or contract expenditure ...   (9479)  (8971)
96   allocated to each period during the lease term...      1.9       )
109  The Valver’s report for the year ended 31 Marc...      19.     NaN
111  valuer had based its valuations prove to be in...    2021.     NaN
134                         Gross profit 34,554 36,217    36217     NaN

In [53]:
df = pd.read_csv(r'C:\Users\Clamfighter\example.csv')
print(df.columns.values)

df['Y0'] = df['Y0'].replace(['.','(',')','()'],None)
df['Y1'] = df['Y1'].replace(['.','(',')','()'],None)

#df = df.dropna(subset=['Y0', 'Y1'], how='all')
#df.to_csv('Filtered_example.csv') 
df = df[(df.Y0 != '')or(df.Y1 != '')]

df

['Label' 'Y0' 'Y1']

ValueError: The truth value of a Series is ambiguous. Use a.empty, a.bool(), a.item(), a.any() or a.all().